@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Nunito:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$font__logo: 600 1.125rem 'Kurale', serif;

$font__vinculo: 700 1.25rem 'Nunito', sans-serif;

$font__footer--copyright: 300 0.688rem 'Nunito',sans-serif;

$font__index--titulo: 700 5rem 'Nunito', sans-serif;

$font__index--subtitulo: 600 1.875rem 'Nunito', sans-serif;

$font__pages--titulo: 600 3.75rem 'Nunito', sans-serif;

$font__pages--subtitulo: 600 1.375rem 'Nunito', sans-serif;

$font__pages--vinculo: 600 1.25rem 'Nunito', sans-serif;

$font__pages--text: 300 1rem 'Nunito', sans-serif;

$font__pages--button: 400 1.125rem 'Nunito', sans-serif;
