#sticky-footer {
    flex-shrink: none;
  }

.footer__social {
    background-color: $turquoise;

    & .footer__social-icons {
<<<<<<< HEAD
        margin-top: 0.45rem;
=======
        margin-top: 0.5rem;
>>>>>>> 1579b5c1175b5741354036107a7e8c5af43b331b

        @media only screen and (min-width: 768px) and (max-width: 992px) {
            margin-top: 0;
        }
        ul {
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                margin-top:0.938rem;
            }
            li {
                i {
                font-size: 1.625rem;
                }
            }
        }
    }
}

.footer__nav {
<<<<<<< HEAD
    margin-top: 0.06rem;
=======
    margin-top: 0.125rem;
>>>>>>> 1579b5c1175b5741354036107a7e8c5af43b331b
    
	ul {
		li {
            @media only screen and (max-width: 767px) {
                padding-top: 0.625rem;
            }
            @media only screen and (min-width: 992px) {
                padding-left: 6rem;
            }
		    a {
                font-size: 1.125rem;

                i {
                    margin-right: 0.75rem;
                }
			}
		}
	}
}

#icon-mail {
    font-size: 1.5rem;
}
#icon-mundo {
    font-size: 1.75rem;
}

.footer__copyright {
    background-color: $dark-blue;

    p {
        font: $font__footer--copyright;
        margin-bottom: 0;
        padding-top: 0.313rem;
    }
}