* {
    margin: 0;
    padding:0;
}

body {
    background-color: $dark-blue;
    height: $medida-total;
}

html {
    height: $medida-total;
}

p {
    color: $light-green;
    font: $font__pages--text;
    letter-spacing: 0.044rem;
}

a {
    color: $dark-blue;
    font: $font__vinculo;
	&:hover {
        color: $light-green;
        text-decoration: none;
    }
}

ul {
    margin-bottom: 0;
    
    li {
        i {
            font-size: 1.375rem;
            margin-right: 0.438rem;
        }
    }
}

h4 {
    color: $light-green;
    font: $font__pages--vinculo;
    padding-top: 1rem;
    text-align: center;
}

@mixin titulo ($color, $font, $spacing, $margin-top, $margin-bottom) {
    color: $color;
    font: $font;
    letter-spacing: $spacing;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

h2 {
    @include titulo ($summer-green, $font__pages--titulo, 0.313rem, 3.125rem, 2.5rem);

    @media (max-width: 767px) {
        font-size: 2.813rem;
        margin: 2.5rem 0 2rem 0 ;
    }
}

h3 {
    @include titulo ($summer-green, $font__pages--subtitulo, 0.063rem, 1rem, 0.5rem);
    text-align: center;
    text-transform: uppercase;
}

.btn-ixtapa {
    color: $light-green;
    border-color: $turquoise;
    font: $font__pages--button;
    margin-bottom: 0.5rem;
    &:hover {
        background-color: $turquoise;
        color: $dark-blue;
        font-weight: 600;
    }
    &:focus {
        box-shadow: none;
    }
}