.actividades {
    & .actividades__titulo {
        margin-top: 6.25rem;

        &.actividades__titulo-nat-y-cul {
            @media (max-width: 768px) {
            margin-top: 4.25rem;
            }
        }
    }
    & .container-fluid {
        padding-left: 0;
        padding-right: 0;

        & .carousel {
            padding-left: 0;
            padding-right: 0;
            position: relative;
        
            ol {
                margin-bottom: 0;
            }
            img {
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
            & .carousel-caption {
                background: rgba(0,0,0,0.8);
                bottom: 0;
                left: 13%;
                right:13%;
                position: absolute;
                padding: 5px 10px;
        
                @media (max-width: 992px) {
                    left: 5%;
                    right: 5%;
                }
                @media (max-width: 768px) {
                    left: 0;
                    right: 0;
                }
                    h3 {
                        margin-top: 0;
                    }
            }  
            & .carousel-control-prev {
                margin-left: 0;
                width: 5%;
            }
            & .carousel-control-next {
                margin-right: 0;
                width: 5%;
              }
        }
    }
    & .actividades-cultural__carousel {
        margin-bottom: 3.75rem;
    }
}