.index__body {
    background:url("../img/index/ixtapa1.jpg");

    @media only screen and (min-width: 577px) {
        background:url("../img/index/ixtapa2.jpg");
    }
    @media only screen and (max-width: 767px) and (max-height: 415px) {
        background:url("../img/index/ixtapa3.jpg");
    }
    @media only screen and (min-width: 992px) and (min-height: 720px) {
        background:url("../img/index/ixtapa4.jpg");
    }
    @media only screen and (min-width: 767px) and (min-height: 769px) {
        background:url("../img/index/ixtapa5.jpg");
    }
    @media only screen and (min-height: 813px) {
        background:url("../img/index/ixtapa6.png");
        background-repeat: no-repeat;
    }
    @media only screen and (min-height: 1025px) {
        background:url("../img/index/ixtapa7.png");
        background-repeat: no-repeat;
    }
    @media only screen and (min-width: 1690px) {
        background: url("../img/index/ixtapa8.jpg");
    }
}
#page-content {
    flex: 1 0 auto;
}

.index__style {
    & .index__subtitulo {
        @include titulo ($dark-blue, $font__index--subtitulo, 0.031rem, 0, 0.7rem);
    
        @media only screen and (max-width: 767px) {
            font-size: 1.625rem;
        }
    }
    & .index__titulo {
        @include titulo ($dark-blue, $font__index--titulo, 0.75rem, 0.625rem, 2.188rem); 

        @media only screen and (max-width: 767px) {
            font-size: 4.063rem;
        }
    }
    a {
        i {
            font-size: 5rem;
        }
    }
}